<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/home/icons.png">
    <title>รายละเอียดสินค้า</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/all.css" />
</head>

<body>
    <%- include('navbar') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="<%= product.imagePath %>" />
                        <div class="card-body">
                            <h3 class="card-title"><%= product.name %></h3>
                            <h4><%= product.price %></h4>
                            <p class="card-text"><%= product.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>